.userIfno-main {
	width: 100%;
	margin-top: 170px;
	margin-bottom: 100px;
	/*opacity: 0.6;*/
}

.userInfo-body {
	background: rgba(169, 170, 172, 0.6);
	height: 500px;
	display: block;
}
.userInfo-body div{
	height: 80px;
	padding-top: 40px;
}
.userInfo-body label {
	font-family: "lora-regular", serif;
	font-size: 1.7rem;
	line-height: 2.4rem;
	letter-spacing: .2rem;
	color: #FFFFFF;
	text-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
	/*vertical-align: middle;*/
	
}

/*.age,.sex,.address {
	margin-left: 35%;
}*/

.age label{
	margin-right: 50px;
}

.age input {
	height: 20px;
	opacity: 0.5;
}

.sex {
	margin-left: -70px;
}

.address {
	margin-left: 60px;
}

#province {
	opacity: 0.5;
	color: rgb(80,81,80);
	margin-left: 30px;
}

.telphone input,.Email input{
	opacity: 0.5;
	height: 20px;
	margin-left: 50px;
}

.submit-info button{
	width: 100px;
	height: 50px;
	opacity: 0.8;
}
