<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.java.travel.mapper.ExtypeMapper">
	<resultMap id="BaseResultMap" type="com.java.travel.entity.Extype">
		<id column="EXTYPEID" jdbcType="DECIMAL" property="EXTYPEID" />
		<result column="TYPENAME" jdbcType="VARCHAR" property="TYPENAME" />
	</resultMap>
	<sql id="Base_Column_List">
		EXTYPEID, TYPENAME
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from EXTYPE
		where EXTYPEID = #{EXTYPEID,jdbcType=DECIMAL}
	</select>
	<!-- 通过类型内容获取类型编号 -->
	<select id="selectByName" parameterType="java.lang.String"
		resultMap="BaseResultMap">
	    select 
	    <include refid="Base_Column_List" />
		from EXTYPE
		where TYPENAME = #{typeName}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from EXTYPE
		where EXTYPEID = #{EXTYPEID,jdbcType=DECIMAL}
	</delete>
	<insert id="insert" parameterType="com.java.travel.entity.Extype">
		insert into EXTYPE (EXTYPEID, TYPENAME)
		values (#{EXTYPEID,jdbcType=DECIMAL}, #{TYPENAME,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.java.travel.entity.Extype">
		insert into EXTYPE
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="EXTYPEID != null">
				EXTYPEID,
			</if>
			<if test="TYPENAME != null">
				TYPENAME,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="EXTYPEID != null">
				#{EXTYPEID,jdbcType=DECIMAL},
			</if>
			<if test="TYPENAME != null">
				#{TYPENAME,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.java.travel.entity.Extype">
		update EXTYPE
		<set>
			<if test="TYPENAME != null">
				TYPENAME = #{TYPENAME,jdbcType=VARCHAR},
			</if>
		</set>
		where EXTYPEID = #{EXTYPEID,jdbcType=DECIMAL}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.java.travel.entity.Extype">
		update EXTYPE
		set TYPENAME = #{TYPENAME,jdbcType=VARCHAR}
		where EXTYPEID = #{EXTYPEID,jdbcType=DECIMAL}
	</update>
</mapper>